$contentBg: #21232e;
$mainText: #fff;
$btnColor:#f2f3f7;
$grey:#c0c3ce;
$white:#fff;
$gradient:linear-gradient(90deg, #dca108, #97334e);
$outlinedBg: #3b3f50;
$outlinedText: #ff4e33;
$btnBg:#e3ac00;


$bgImage:url(../img/m-h-night.jpg);

$font-stack: (primary: #{'Source Sans Pro', sans-serif},
secondary: #{'Hind', sans-serif},
other: #{'Fresca', sans-serif});

$font-weights: (hairline: 100,
extra-light: 200,
light: 300,
regular: 400,
book: 500,
medium: 600,
bold: 700,
black: 800,
heavy: 900);